version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: a19b225eb281d6c5e09d0d329aa67fd1
      POSTGRES_DB: test
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: my-dotnet-container
    ports:
      - "5143:5143"
    environment:
      DOTNET_ENVIRONMENT: "Production"
      DOTNET_RUNNING_PROFILE: "production"
      DOTNET_URLS: "http://+:5143"
    depends_on:
      - postgres

volumes:
  pgdata:
